@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to bottom,rgb(241, 241, 241),rgb(184, 221, 221));
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
.dot {
 
  display: flex;
  align-items: center;
  display: flex;
  margin:auto;
  height: 225px;
  width: 225px;
  display: flex;
  margin: auto;
  align-items: center;
  background-color:black;
  border-radius: 50%;
  margin-top: 25px;
  
}
.box{

  margin: auto;
display: flex;
margin-top: 20px;
  align-items: center;
  width: 210px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: x-large;
  padding: 10px 10px 10px 10px;
background: rgb(22, 124, 29);
color: white;
}
input{
  display: flex;
  align-items: center;
  display: flex;
  margin:auto;
  margin-top: 30px;

}


.container{
  text-align: center;
  margin-top: 50px;
  justify-content: center;
  font-family: fantasy;
  font-size: 2rem;
  color: rgb(122, 103, 66)
}